
<div id="mainMenu" class="root-element">

  <div id='baseMenu' class="center-area">
    <div class="base-frame">

      <h1 class="border-bottom margin-bottom">Onyx</h1>

      <ul>
        <li><a href='#' class='start-button button button-big'>New Game</a></li>
         <li><a href='#' class='options-button button button-big'>Options</a></li>
      </ul>

<!--
      <div class="show-when-dev margin-top">
        <h5>Development Tools</h5>
        <ul>
          <li><a href='#' class='button'>TODO: Debug Views</a></li>
        </ul>
      </div>
-->

    </div>
  </div>

</div>
