<div id='dungeonView'>
  <div id='dragElement' class='hide'></div>
  <div id='dungeonViewport'><div id='dungeonGrid'></div></div>

  <div id="dungeonBottomMatter">
    <div id='tileBag'>
      <div class='wing left-wing'></div>
      <div class='body standard-body'></div>
      <div class='body sequence-body body-below'></div>
      <div class='wing right-wing'></div>
    </div>

    <div id='tileShelf'>
      <div class='tiles'></div>
      <div class='spaces'></div>
    </div>
  </div>

  <div id="dungeonStatusBar"></div>
</div>
